.map{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    border: solid #000 2px;
}
.evidence{
    font-size: 15px;
    color: black;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: gray;
    border-width: 2px;
    border: solid #000;
}
.evidence.true{
    background-color: lightgreen;
    border-width: 2px;
    border: solid green;
}
.evidence.false{
    background-color: #FFCCCB;
    border-width: 2px;
    border: solid red;
}