.mainHolder{
    background-color: #cbcbcb7a !important;
    border-radius: 1rem;
}
.map{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: antiquewhite;
    border: solid #000 2px;
}