.main{
    height: 90vh;
    width: 100vw;
    padding: 0;
    background-image: url(../img/backgroundplaceholder.png);
    background-position-x: center;
}
.bottombar{
    display: flex; 
    flex-direction: row;
    width: 100%;
    padding: 0;
}
.input-background{
    background-color: #CBCBCBE6 !important;
    border-radius: 20px;
}
.sessionHolder{
    background-color: #CBCBCBE6 !important;
    border-radius: 20px;
    width: 25vw;
}
.session{
    color: #000;
}
.selected{
    background-color: #e9e9e9 !important;
    border-radius: 20px;
}
.logo{
    margin:20px;
    background-color: beige;
}
.logotext{
    color: grey;
}
.politie{
    position: absolute;
    background-image: url(../img/politielogo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 2vw;
    top: 2vh;
    width: 110px;
    height: 125px;
}